.filters {
  height: 1.2rem;
  width: 1.2rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #645cff;
  border-radius: 0.25rem;
  outline: none;
  cursor: pointer;
}

.filters:checked {
  background-color: #645cff;
}
